@model List<Customer>

@{
    ViewData["Title"] = "CustomerListOrderByDescBalance";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}



<h1>CustomerListOrderByCustomerName</h1>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Customer List By Balance (Z-->A)</h3>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer Name</th>
                                <th>City</th>
                                <th>Balance</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.CustomerName @item.CustomerSurname</td>
                                    <td>@item.CustomerCity / @item.CustomerDistrict</td>
                                    <td>@item.CustomerBalance</td>

                                    <td><a href="/Customer/DeleteCustomer/@item.CustomerId" class="btn btn-outline-danger">Delete</a></td>
                                    <td><a href="/Customer/UpdateCustomer/@item.CustomerId" class="btn btn-outline-success">Update</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Customer/CreateCustomer/" class="btn btn-outline-primary">Create New Customer</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Close .row -->

